body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

header {
    background: #fff;
    padding: 15px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #00843D;
    padding-left: 20px;
}

.hero {
    position: relative;
}

.hero-content img {
    width: 100%;
    height: auto;
}

.mobile-image {
    display: none;
}

@media (max-width: 768px) {
    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
    }

    .feature {
        width: 100% !important;
    }

    .citizens-bank {
        text-align: center;
        padding: 20px !important;
    }

    .bank-header h2 {
        font-size: 25px;
    }

    .testimonial-1,
    .testimonial-2,
    .testimonial-3 {
        width: 60% !important;
    }

}


.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #00843D;
}

.investment {
    padding: 40px 40px 0px 40px;
}

.careers {
    background: #e97300;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;

}

.advantage {
    padding: 0px 20px 40px 20px;
}



.features {
    width: 100%;
    overflow: hidden;
    /* Clears floated elements */
}

.feature {
    width: 45%;
    float: left;
    padding: 2rem 2% 0px 2%;
    position: relative;
    /* Needed for absolute positioning of the border */
}

.feature::after {
    content: "";
    position: absolute;
    top: 3rem;
    right: 0;
    width: 1px;
    height: 9rem;
    background-color: #888888;
    /* Border color */
}

/* Remove border for the last feature in a row */
.features .feature:last-child::after {
    display: none;
}


h2,
.our-investment {
    font-size: 31px;
    font-weight: 400;
    color: #00945f;
    position: relative;
    display: inline-block;
    /* Keeps border width limited */
}

.h2-bank::after {
    content: "";
    position: absolute;
    bottom: -1.5rem;
    /* Adjusts spacing below the text */
    left: 8rem;
    width: 7rem;
    /* Border width */
    height: 2.5px;
    /* Border height (thickness) */
    background-color: #00945f;
    /* Border color */
}

.our-investment::after {
    content: "";
    position: absolute;
    bottom: -1.5rem;
    /* Adjusts spacing below the text */
    left: 6rem;
    width: 7rem;
    /* Border width */
    height: 2.5px;
    /* Border height (thickness) */
    background-color: #00945f;
    /* Border color */
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #888888;
    line-height: 31px;
    text-align: left;
}

.button-bank {
    padding: 20px;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    color: #00945f;
    line-height: 31px;
    text-align: left;
}


.citizens-bank {

    text-align: center;
    padding: 0px 40px;
}

.bank-header {
    background-color: #00945f;
    color: white;
    padding: 20px;
    font-size: 18px;
}

.bank-header h2 {
    margin: 0;
    color: #fff;
    font-size: 31px;
    font-weight: 400;

}

.bank-header p {
    color: #dff5ec;
    font-size: 16px;
    margin-top: 10px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px 0px;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.testimonial {
    background: white;
    padding: 20px;
    border-radius: 8px;
    /* width: 25%; */
    text-align: center;
}

.testimonial img {
    width: auto;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.testimonial p {
    font-size: 18px;
    color: #888888;
    text-align: center;
}

.testimonial h4 {
    color: #29ae8d;
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
}

.bank-content p {
    background-color: #ebf7f5;
    margin: 0px;
    padding: 20px 8%;
}

.testimonial p {
    position: relative;
    /* Adjust space for the image */
    background-image: url('img/quotes.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    /* Adjust size as needed */
}

.testimonial-1 {
    width: 14%;
}

.testimonial-2 {
    width: 30%;
    padding: 20px 5%;
}

.testimonial-3 {
    width: 14%;
}

footer {
    border-top: 1px #00945f solid;
}

.footer-content {
    text-align: left;
    padding: 40px;
}

.footer-content p {
    font-size: 12px;
    line-height: 1rem;
}

.footer-links {
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
    color: #333;
}

.footer-links a {
    color: #000;
    text-decoration: none;
    margin: 0px 5px 0px 0px;
}

.footer-links a:hover {
    text-decoration: underline;
}